{% extends "base.html" %}
{% block content %}
  <form action="{{ url_for('extract')}}" method="POST">
        <div class="input-group mb-3 container" , method = 'POST'>
          <input required id='product_id' name='product_id' type="text" class="form-control" placeholder="podaj id produktu" aria-label="id produktu" aria-describedby="passwordHelpInline">
          <input class="btn btn-outline-success" type="submit" value="ekstrakcja" id="button-addon2">
        </div>
    </form>
{% endblock %}