{% extends 'base.html' %}
{% block title %}Opis projektu{% endblock %}
{% block content %}
      <h4 class="p-3 m-3">Cel aplikacji:</h4>
      <h5 class="p-3 m-3">Aplikacja służy do pobierania opinii z strony ceneo.</h5>
      <h5 class="p-3 m-3">Po wejściu w zakładkę ekstraktor opinii należy podać id produktu następnie wcisnąć przycisk "ekstraktuj". Po poprawnym wpisaniu id zostaniesz przekierowany na oficialną stronę ceneo z produktem, którego id wpisano.</h5>
      <h5 class="p-3 m-3">Wszystkie opinie tego produktu zostaną pobrane i będą dostępne w zakładcę lista produktów.</h5>
      <h5 class="p-3 m-3">Do tej aplikacji zostały wykorzystane biblioteki m.in: Flask, beautifull soap, pandas itp.</h5>
{% endblock %}