{% extends 'base.html' %}
{% block content %}
      <div>
        <table id="opinions-table" class="table table-hover table-dark table-striped">
            <thead>
              <tr>
                <th role="button" scope="col" id="id">ID</th>
                <th role="button" scope="col" id="autor">Autor</th>
                <th role="button" scope="col" id="reccomendation">Rekomendacja</th>
                <th role="button" scope="col" id="score">Wynik</th>
                <th role="button" scope="col" id="purchased">Transakcja</th>
                <th role="button" scope="col" id="published-at">Opublikowano</th>
                <th role="button" scope="col" id="purchased-at">Zakupiono</th>
                <th role="button" scope="col" id="thumbs-up">Polubione</th>
                <th role="button" scope="col" id="thumbs-down">Niepolubione</th>
                <th role="button" scope="col" id="content">Treść opinii</th>
                <th role="button" scope="col" id="pros">Zalety</th>
                <th role="button" scope="col" id="cons">Wady</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>jan</td>
                <td>Polecam</td>
                <td>4,6</td>
                <td>tek..</td>
                <td>22.10.2012</td>
                <td>23.10.2012</td>
                <td>4</td>
                <td>2</td>
                <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem totam nisi nemo neque, ea vel non, consequuntur delectus dolore dolorem temporibus sapiente minima velit, ab quis illo consequatur suscipit. Alias!</td>
                <td>
                    <ul>
                        <li>git</li>
                        <li>spk</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>niegit</li>
                        <li>niespk</li>
                    </ul>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
  {% endblock %}
  
  {% block script %}  
     <script>
        $(document).ready( function () {
				$('#opinions-table').DataTable({
					'columns' : [
						{'data' : 'id'},
						{'data' : 'ids'},
						{'data' : 'idds'},
						{'data' : 'idff'},
						{'data' : 'idgf4ds'},
						{'data' : 'ids3dg'},
						{'data' : 'ids2dg'},
						{'data' : 'idsdaasdsag'},
						{'data' : 'idssaggdg'},
						{'data' : 'idsfasfdg'},
						{'data' : 'iasddsdg'},
						{'data' : 'iasds'}
					]
				})
			} )
      </script>
{% endblock %}
