{% extends 'base.html' %}
{% block content %}
      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-dark text-light h4 border-bottom">
            <a href="/product" class="link-warning link-underline-opacity-0">Pralka 1</a>
            <ul class="list-group-flush">
              <li class="pt-2 bg-dark text-warning h6">
                Liczba opinii: 24
              </li>
              <li class="pt-2 bg-dark text-warning h6">
                Liczba wad: 24
              </li>
              <li class="pt-2 bg-dark text-warning h6">
                Liczba zalet: 24
              </li>
              <li class="pt-2 bg-dark text-warning h6">
                Średnia ocen: 4,5
              </li>
              <li class="bg-dark text-warning h6">
                <a href="n" download><button type="button" class="btn btn-outline-success mx-1">Pobierz json</button></a>
              </li>
            </ul>
          </li>
  
        </ul>
      </div>
      </div>
      
{% endblock %}